/* Header */
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  background-image: url('background.jpg');
}

.large-container {
  overflow: hidden;
}

.large-footer {
  display: flex;
  height: 100vh;
}

.title-text {
  font-weight: 200;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 40%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.main-list {
  color: #f9f1e9;
}

.main-list > li {
  padding: 5px;
}

.demo-1 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
  font-weight: 200;
}

.main-title .thin {
  font-weight: 100;
}

.particles-js-canvas-el {
  height: 100vh !important;
}

@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}

@-webkit-keyframes polygon {
  0% {
    stroke-dasharray: 0 300;
  }
  100% {
    stroke-dasharray: 300 0;
  }
}
@keyframes polygon {
  0% {
    stroke-dasharray: 0 300;
  }
  100% {
    stroke-dasharray: 300 0;
  }
}
polygon {
  stroke-width: 1;
  fill: transparent;
  stroke: #fff;
  stroke-miterlimit: 10;
}
.hex1 {
  animation: 40s polygon forwards;
  -webkit-animation: 40s polygon forwards;
}
.hex2 {
  animation: 80s polygon forwards;
  -webkit-animation: 80s polygon forwards;
}
.hex3 {
  animation: 120s polygon alternate backwards;
  -webkit-animation: 120s polygon alternate backwards;
}
.hex4 {
  animation: 100s polygon alternate backwards;
  -webkit-animation: 100s polygon alternate backwards;
}
circle {
  fill: #fff;
  -webkit-animation-name: circle-glow;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;

  animation-name: circle-glow;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@-webkit-keyframes circle-glow {
  0% {
    fill: hsla(209, 20%, 32%, 1);
  }
  50% {
    fill: hsla(209, 20%, 49%, 1);
  }
  100% {
    fill: hsla(360, 100%, 100%, 1);
  }
}

@keyframes circle-glow {
  0% {
    fill: hsla(209, 20%, 32%, 1);
  }
  50% {
    fill: hsla(209, 20%, 49%, 1);
  }
  100% {
    fill: hsla(360, 100%, 100%, 1);
  }
}
